[user]
	name = Francisco Lopes
	email = francisco@oblita.com
[github]
	user = oblitum
[core]
	excludesfile = /Users/francisco/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = cache --timeout=3600
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[difftool]
	prompt = false
