[Desktop Entry]
Type=Application
Exec=caps2esc
Hidden=false
X-GNOME-Autostart-enabled=true
Name=caps2esc
Comment=turn capslock into escape and vice-versa
