[Desktop Entry]
Type=Application
Exec=/home/francisco/.local/bin/mute-IEC958
Hidden=false
X-GNOME-Autostart-enabled=true
Name=mute-IEC958
Comment=turn off red led from macbook phone jacket
